
---
export interface Props{
    title: string;
    image: png;
}
---
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to my page</h1>
        <p>Hello Guest</p>
    </div>
    <div class="hero-image">
        <img 
            src="C:\Users\Dell\Pictures\Screenshots\Screenshot 2024-02-11 212717.png"
            height:"200"
            width:"300"
         />
    </div>
</section>

<style>
    .hero{
        display:flex;
        align-items: center;
        justify-content:space-between;
        padding:2rem;
    }
    .hero-content:{
        flex:1;
    }
    .hero-image{
        flex:0;
        text-align:center;
    }
 </style>
 